<div class="col-sm-3 col-md-4" id="pending_tasks">
      <div class="card mt-3 mx-3 p-1 d-flex align-items-stretch">
				  <div class="card-body">
				    	<h4 class="card-title text-dark">Pending Tasks</h4></a>
						  <ol>
							<% @pending_tasks.each do |task| %>
								<li><%= task.title %> <br/>
								<%= task.description%>
								<div class="complete-task">
									<%= form_for(task, remote: true) do |f| %>
    								<%= f.check_box :status %> <br />
    								<% end %>
								</div></li>
								<%= link_to "(delete)", task, method: :delete, data: {confirm: "Are you sure you want to delete this task?"}, remote: true %>
							<%end %>
						  </ol>
				  </div>
			</div>
		</div>
	
