
<h2 class="text-center my-3">Search Tasks</h2>

<div class="container text-center">
	<h4>Narrow your search:</h4>

<!-- Search bar starts -->
   <%= form_tag(tasks_path, method: :get) do %>
  	<%= text_field_tag :term, params[:term] %>
  	<%= submit_tag 'Search', name: nil %>
	<% end %>

<!-- Search bar ends -->

<div class="row">
    <% current_user.tasks.where(status: false).each do |task| %>
    <div class="col-md-4">
      <div class="card mt-3 mx-3 p-1 d-flex align-items-stretch">
       
        <div class="cardtask">
          <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.description %></p>
            <%= link_to "View", task_path(task), class:"btn btn-dark"%>
            <% if task.user_id == current_user.id %>
            <%= link_to "Edit", edit_task_path(task), class:"btn btn-dark" %>
            <%= link_to 'Delete', task_path(task), method: :delete, class:"btn btn-dark" %>
           <%end%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  <div>
    <h4 style="margin-top: 2%; margin-bottom: 2% text-align:center"><%= link_to "Create another task", dashboard_path %>  <br /></h4>
  </div>


<h2>Here is a list of the task you have completed :</h2>
      <% current_user.tasks.where(status: true).each do |task| %>
     <li> <%= task.title %>
      <%= task.description %> </li>
      <% end %>


