<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %> <br />
  Email: <%= f.text_field :email %> <br />
  Password: <%= f.password_field :password %> <br />
  Password Confirmation: <%= f.password_field :password_confirmation %> <br />
  

<div class=”field”>
 <% if @user.avatar? %>
 <div class=”thumbnail”>
 <%= image_tag @user.avatar.url %>
 </div>
 <% end %><br>
 <%= f.label :avatar %><br>
 <%= f.file_field :avatar %>
 <%= f.hidden_field :avatar_cache %>
 </div>
 
 <%= f.submit "Submit" %>

<% end %>
